html
  head
    link(rel="stylesheet", href="stylesheets/main.css")
    script(src="scripts/app.js")
  body
    div.container
      h1 Dyno!
      :markdown
        This repo is an opinionated scaffolding, utilizing **Javascript** (*because you love semi-colons*), **Browserify** (*because node is awesome*), **Gulp** (*because .pipe(task) is amazing*), and **Jade** templates (*because America*).