body, * {
  font-family: sans-serif;
  background: #283772;
}
.container {
  width: 520px;
  height: auto;
  border: 1px solid #ccc;
  background: #fff;
  * {
    background: #fff;
    
  }
  box-shadow: 1px 1px 1px black;
  border-radius: 3px;
  margin: 0 auto;
  padding: 35px;
  h1 {
    text-align: center;
  }
}